<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrapValidator.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap-table.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrapValidator.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="../static/js/warehousing.js"></script>

</head>

<body>
<div class="container" style="margin-top: 20px">
    <!--  搜索栏  -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">查询条件</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="RoleName">产品名称：</label>
                    <input type="text" class="form-control" id="RoleName" style="width: 650px;margin-left: 10px;">
                </div>
                <button type="button" class="btn btn-default" onclick="search_ok()">查询</button>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div id="toolbar" class="btn-group" role="group" aria-label="..." style="margin-bottom: 10px">

            </div>
            <table id="table">
            </table>
        </div>
    </div>

</div>
<!-- 采购入库 -->
<div class="modal fade"id="purchaseModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">采购入库</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="addForm">
                    <input type="hidden" class="form-control" id="formId">
                    <div class="form-group">
                        <label for="addName" class="col-sm-2 control-label">产品类别</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addName" placeholder="请选择产品类别" readonly>
                        </div>
                            <button type="button" class="btn btn-primary" onclick="subVerify()">选择类别</button>
                    </div>
                    <div class="form-group">
                        <label for="addPrice" class="col-sm-2 control-label">采购单价</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addPrice" placeholder="请输入单价">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="addTotal" class="col-sm-2 control-label">采购数量</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addTotal" placeholder="请输入数量">
                        </div>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addRole()">提交审核</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 编辑 -->
<div class="modal fade"id="editModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="editType"></span></h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="editForm">
                    <input type="hidden" class="form-control" id="editId">
                    <div class="form-group">
                        <label for="editPrice" class="col-sm-2 control-label">单价</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="editPrice" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editNum" class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="editNum" >
                        </div>
                    </div>

                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="editPro()">提交审核</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 关联 -->
<div class="modal fade" id="roleListModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关联角色</h4>
            </div>
            <div class="modal-body">
                <div class="list-group"id="list">
                    <label for="assRoleName">关联角色：</label>
                    <input type="text" class="form-control" id="assRoleName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="associated()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 关联END -->

</body>
</html>